USE [master]
GO
/****** Object:  Database [IPB2WalletTransfer]    Script Date: 2/13/2026 3:10:24 PM ******/
CREATE DATABASE [IPB2WalletTransfer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IPB2WalletTransfer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPB2WalletTransfer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IPB2WalletTransfer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPB2WalletTransfer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPB2WalletTransfer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPB2WalletTransfer]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 2/13/2026 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TranId] [int] IDENTITY(1,1) NOT NULL,
	[TxnId] [nvarchar](20) NOT NULL,
	[FromMobileNo] [nvarchar](15) NOT NULL,
	[ToMobileNo] [nvarchar](15) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Message] [nvarchar](20) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TranId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 2/13/2026 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[WalletId] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[MobileNo] [nvarchar](15) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TranId], [TxnId], [FromMobileNo], [ToMobileNo], [Amount], [Message], [Timestamp]) VALUES (1, N'4CD1CA9F', N'09421060304', N'09123456789', CAST(2000.00 AS Decimal(18, 2)), N'Transfer', CAST(N'2026-02-13T13:58:31.7966667' AS DateTime2))
INSERT [dbo].[Transactions] ([TranId], [TxnId], [FromMobileNo], [ToMobileNo], [Amount], [Message], [Timestamp]) VALUES (2, N'B6250B2C', N'09987654321', N'09421060304', CAST(50.00 AS Decimal(18, 2)), N'Send', CAST(N'2026-02-13T14:10:25.3700000' AS DateTime2))
INSERT [dbo].[Transactions] ([TranId], [TxnId], [FromMobileNo], [ToMobileNo], [Amount], [Message], [Timestamp]) VALUES (3, N'B6250B2C', N'09987654321', N'09421060304', CAST(50.00 AS Decimal(18, 2)), N'Receive', CAST(N'2026-02-13T14:10:25.3766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
INSERT [dbo].[Wallets] ([WalletId], [FullName], [MobileNo], [Balance], [CreatedAt], [IsDelete]) VALUES (N'W001', N'Alice Smith', N'09123456789', CAST(3000.00 AS Decimal(18, 2)), CAST(N'2026-02-13T13:17:05.1066667' AS DateTime2), 0)
INSERT [dbo].[Wallets] ([WalletId], [FullName], [MobileNo], [Balance], [CreatedAt], [IsDelete]) VALUES (N'W002', N'Bob Jones', N'09987654321', CAST(2050.00 AS Decimal(18, 2)), CAST(N'2026-02-13T13:17:05.1066667' AS DateTime2), 0)
INSERT [dbo].[Wallets] ([WalletId], [FullName], [MobileNo], [Balance], [CreatedAt], [IsDelete]) VALUES (N'W003', N'Phyo', N'09421060304', CAST(550.00 AS Decimal(18, 2)), CAST(N'2026-02-13T13:17:05.1066667' AS DateTime2), 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Wallets__D6D73A863D905155]    Script Date: 2/13/2026 3:10:25 PM ******/
ALTER TABLE [dbo].[Wallets] ADD UNIQUE NONCLUSTERED 
(
	[MobileNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
